.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__user-name
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            %i.fa.fa-edit
          %li.side-header__box__menu__user
            %i.fa.fa-cog
    .groups
      .group
        %p.group__group-name
          aaaaaaaaaaa
        %p.group__latest-message
          aaaaaaaaaaaaa